.maintitle {
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
h2 {
    margin-top: -20px;
    font-size:20px;
    color: #fff;
    text-align: center;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
body {
    background-image: url(../image/sasasa.jpg);
    background-size: 150%;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.linklist{
    flex-wrap: nowrap;
    text-align: center;
    
}
.link{
    background-color: #0000008e;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    margin-top: 12px;
    font-size: 25px;
    color: #fff;
    text-align: center;
}
p{
    color: #fff;
    font-size: 20px;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.kodawari{
    margin-top: 10px;
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.imgleft{
    text-align: center;
}


#wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: rgba(28, 167, 202, 0.85);
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2
}

#wrapper nav ul li {
    padding: 20px 28px
}

#wrapper nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
}

#wrapper .btn-gnavi {
    position:fixed;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

#wrapper .btn-gnavi span {
    position: absolute;
    width: 40px;
    height: 5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
    
}

#wrapper .btn-gnavi span:nth-child(1) {
    top: 0
}

#wrapper .btn-gnavi span:nth-child(2) {
    top: 10px
}

#wrapper .btn-gnavi span:nth-child(3) {
    top: 20px
}

#wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

#wrapper .btn-gnavi.open span {
    background: #fff
}

#wrapper .btn-gnavi.open span:nth-child(1) {
    width: 24px;
    -webkit-transform: translate(-7px,17px) rotate(45deg);
    transform: translate(-7px,17px) rotate(45deg)
}

#wrapper .btn-gnavi.open span:nth-child(3) {
    width: 24px;
    -webkit-transform: translate(-7px,-17px) rotate(-45deg);
    transform: translate(-7px,-17px) rotate(-45deg)
}

#wrapper .contents section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden
}

#wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666
}

#wrapper .contents section:nth-child(odd) p {
    left: 10%
}

#wrapper .contents section:nth-child(even) p {
    right: 10%
}

